.ProductSummary h2{
    margin: 0;
    font-weight:300 ;
    margin-bottom: 2rem;
}
.ProductSummaryBtn{
    border: none;
    width: 9rem;
    height: 2rem;
    background-color: #26C97D;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    box-sizing: border-box;
    box-shadow: 2px 3px 5px #777;
    
    font-size: 15px;
}